<a href="/" title="Go to Home">Home</a>
<a href="/about/" title="Go to About">About</a>
<a href="/yun-duan-qing-ren-her/" title="Go to 雲端情人 HER">雲端情人 HER</a>
<a href="http://www.fukuball.com" title="Go to Fukuball" target="_blank">Fukuball</a>