<a href="/" title="Go to Home">Home</a>
<a href="/about/" title="Go to About">About</a>
<a href="http://www.fukuball.com" title="Go to Fukuball" target="_blank">Fukuball</a>
<a href="/yun-duan-qing-ren-her/" title="Go to 雲端情人 HER">置頂文章：雲端情人 HER</a>
<a href="https://fukuball.ghost.io/ghost/signin/" title="Go to Login">Login</a>